@font-face {
  font-family: "FreightNeoProMediumItalic";
  src: url("/assets/FreightNeoProMediumItalic/font.woff2") format("woff2"),
       url("/assets/FreightNeoProMediumItalic/font.woff") format("woff");
}

@font-face {
  font-family: "FreightNeoProMediumRegular";
  src: url("/assets/FreightNeoProMediumRegular/font.woff2") format("woff2"),
       url("/assets/FreightNeoProMediumRegular/font.woff") format("woff");
}

@font-face {
  font-family: "FreightSansProMediumItalic";
  src: url("/assets/FreightSansProMediumItalic/font.woff2") format("woff2"),
       url("/assets/FreightSansProMediumItalic/font.woff") format("woff");
}

@font-face {
  font-family: "FreightSansProMediumRegular";
  src: url("/assets/FreightSansProMediumRegular/font.woff2") format("woff2"),
       url("/assets/FreightSansProMediumRegular/font.woff") format("woff");
}

// Variables
@cream: #FFFBF5;
@marigold: #EA9F34;
@clay: #BD645C;
@blush: #EAD4D1;
@smoke: #E7E3DF; 
@night: #1E1C1B;

// breakpoints
@sm-bp: 768px;

.freightSans {
  font-family: "FreightSansProMediumRegular", sans-serif;
}
.freightSansItal {
  font-family: "FreightSansProMediumItalic", sans-serif;
}
.freightNeoPro {
  font-family: "FreightNeoProMediumRegular", sans-serif;

}
.freightNeoProItal {
  font-family: "FreightNeoProMediumItalic", sans-serif;
}


/* mixins */


.h1 {
  .freightNeoPro;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}

.h2 {
  .freightNeoProItal;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px; /* identical to box height, or 111% */
}

.h3 {
  .freightSans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;  /* identical to box height, or 147% */
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.h4 {
  .freightSansItal;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.p {
  .freightSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.basicSiteContainer {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 100px;
  @media (max-width: 1080px) {
    max-width: 90%;
  }
}
/* General syles
***************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: @blush;
}

html {
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: normal;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  &:hover {
    font-style: italic;
  }
}

/* ss reset */


[class*=sqs-col] .sqs-block {
  padding: 0;
}

.site-container {
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visually-hidden {
  display: none;
}

button {
  outline: 0;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}

body:not(.button-style-default).button-style-solid .sqs-editable-button, body:not(.button-style-default).button-style-solid .sqs-editable-button-style,
body:not(.button-style-default) .sqs-editable-button, 
body:not(.button-style-default) .sqs-editable-button-font {
  .h3;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: @cream;
  background: @night;
  transition: .3s ease-in all !important;;
}

body:not(.button-style-default).button-style-solid .sqs-editable-button:hover, body:not(.button-style-default).button-style-solid .sqs-editable-button-style:hover {
  opacity: 1;
  background: @cream;
  color: @night;
}



/* TYPOGRAPHY */


h1,
.h1 { .h1 }
h2,
.h1 { .h1 }
h3,
.h2 { .h2 }
h4,
.h3 { .h3 }
p { .p }
p em {
  .freightSansItal;
  font-style: italic;
}
p a {
  color: @night;
}
p + p {
  margin-top: 10px;
}
body {
  font-family: 'FreightSansProMediumRegular', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
/* main container */

.content-container {
  width: 100%;
  flex: 1;
  > div {
    height: 100%;
  }
}


/* Homepage
***************************************************/

body.homepage { 
  background: @cream;
  main.content-container > div > div > div {
    display: grid;
    grid-template-columns: .5fr 540px 540px .5fr;
    @media (max-width: 1080px) {
      grid-template-columns: .05fr .49fr .49fr .05fr;        
    }
    grid-auto-rows: min-content;
    max-width: 100%;
    overflow: hidden;
    > * {
      grid-column-start: 2;
      grid-column-end: 4; 
    }
    > .hero, > [class*=cta-] {
      grid-column-start: 1;
      grid-column-end: 5;
    }
    > [class*=cta-] {
      background: @clay;
      color: @cream;
    }
  }

  .hero {
    .image-block-outer-wrapper.layout-caption-below .image-caption-wrapper {
      padding-top: 7px;
      padding-left: 45px;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: left;
    }
    @media (min-width: 1200px) {
      .image-block-outer-wrapper:not(.image-block-v2) .image-block-wrapper {
        padding-bottom: 44% !important;
      }
    }
    @media (max-width: @sm-bp) {
      .image-block-outer-wrapper:not(.image-block-v2) .image-block-wrapper {
        padding-bottom: 60% !important;
        padding-bottom: 80vh !important;
        img {
          min-height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .hero,
  .hero-overlay {
    grid-column-start: 1 !important;
    grid-column-end: 6 !important;
    grid-row: ~"1 / 2";
    position: relative;
  }

  .hero-overlay {
    z-index: 88;
    place-self: end;
    padding-right: 67px;
    padding-bottom: 50px;
    * {
      .freightSans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.15em;
      text-align: center;
      color: @cream;
      text-transform: uppercase;
    }
    h3 {
      display: flex;
      align-items: center;
    }
    h3:after {
      content: '';
      background: url('/assets/icons/arrowDown.png') center center no-repeat scroll;
      width: 20px;
      height: 20px;
      margin-left: 11px;
      display: inline-block;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      
    }

    @media (max-width: @sm-bp) {
      height: 100%;
      div {
        height: 100%;
      }
      place-self: center;
      width: 80%;
      width: 30ch;
      margin: 0 auto;
      padding: 0;
      h3 {
        text-align: center !important;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .8fr .2fr;
        height: 100%;
        justify-items: center;
        &:after {
          margin: 0;
        }
      }
    }
  }
  .submark-top {
    padding-top: 165px;
  }

  .submark-text {
    @media (max-width: @sm-bp) {
      margin-bottom: 200px;
    }
    h2 {
      .freightNeoPro;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0em;
      text-align: center;
      max-width: 15ch;
      margin: 10px auto; 
      em {
        .freightNeoProItal;
        font-style: italic;
      }
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      max-width: 30ch;
      margin: 0 auto;      
    }
  }
  // any row in main content grid 

  .sqs-col-12 .row.sqs-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    @media (max-width: @sm-bp) {
      display: flex;
      flex-direction: column;
    }
    > *:first-child {
      grid-column: 1;
    }
    > * {
      width: 100% !important;
      grid-column: span 1;
    }
  }

  .card {
    margin-bottom: 163px;

    .image-block-wrapper {
      width: 50%;
    }
    figcaption {
      width: 50%;
      margin-left: 25%;
      em {
        .freightNeoProItal;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        line-height: 20px;
      }
    }

    // reset images with aspect ratio 
    .image-block-wrapper {
      padding: 0 !important;
    }
    img {
      position: relative !important;
    }
  }
  .card2 {
    .image-block-wrapper {
      margin-top: 25%;
      margin-left: 25%;
    }
    figcaption {
      margin-left: 50%;
    }
  }


  .cta-submark,
  .cta-text,
  .cta-button {
    background: @clay;
    * {
      color: @night;
    }
  }
  .cta-submark {
    padding-top: 75px;
  }
  .cta-text {
    * {
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
  .cta-button {
    padding-bottom: 75px;
    a {
      .freightSans;
      text-transform: uppercase;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-align: center;
      // reset 
      opacity: 1;
      border-bottom: 1px solid transparent;
      background: transparent !important;
      &:hover {
        opacity: 1;
      }

    }
    margin-bottom: 189px;
  }

  .cta-button + .sqs-row {
    .col:first-child {
      grid-row: ~"1 / 3";
      padding: 0 15%;
      * {
        height: 100%;
      }
      img {
        height: unset; // reset 
      }
    }
  }

  .bio-image {
    figure {
      position: relative;
    }
    figure .image-block-wrapper {
      position: relative;
      z-index: 10;
    }
    figure .background-extending {
      position: absolute;
      top: 20px;
      left: -20px;
      background: @clay;
      width: 100%;
      height: unset;
      z-index: 0;
    }
  }

  .bio-text,
  .bio-button {
    @media (min-width: @sm-bp) {
      width: 60%;
    }
    @media (max-width: @sm-bp) {
      width: 90%;
      margin: 0 auto;
    }
  }

  .bio-text {
    @media (min-width: @sm-bp) {
      margin-top: 25%;
    }
    h2 {
      //styleName: H1;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 43px;
      letter-spacing: 0em;
      text-align: left;
    }
    p {
      //styleName: Paragraph 1;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .bio-button {
    margin-top: 30px;
    a {
      background: @night;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 8px;
      letter-spacing: 0.1em;
      text-align: left;

    }
  }
  .home-press-headline,
  .about-testimonial-headline {
    * {
      .h3;
    }
  }
  .home-press-headline {
    margin-top: 100px;
  }
  .about-testimonial-headline {
    margin-top: 70px;
    @media (min-width: @sm-bp) {
      margin-top: 300px;
    } 
  }
  .sqs-block-quote {
    blockquote, figcaption {
      display: inline;
    }
    blockquote {
      .freightSans;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: left;
    }
    figcaption {
      .freightSansItal;
      font-size: 15px;
      font-style: italic;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.15em;
      text-align: left;
      text-transform: uppercase;
      @media (max-width: @sm-bp) {
        display: block;
        margin-top: 7px;
      } 
    }
  }

  .home-press-logos {
    .sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor {
     img {
       top: 50px !important;
     }
    }
    @media (max-width: @sm-bp) {
      .sqs-gallery-design-grid {
        display: flex;
        img {
          object-fit: contain;
        }
      }
    } 
  } 

  @media (max-width: @sm-bp) {
    .about-testimonial-headline,
    .home-testimonial,
    .home-press-headline,
    .home-press-logos {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.small-button-style-solid .sqs-block-button .sqs-block-button-element--small, .medium-button-style-solid .sqs-block-button .sqs-block-button-element--medium, .large-button-style-solid .sqs-block-button .sqs-block-button-element--large {
  padding: 18px 18px 7px 18px;
  background: @night;
  .freightSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background: @cream;
    color: @night;
    opacity: 1;
    cursor: pointer;
  }
}

/* Break grid and stack blocks on small screens
***************************************************/

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}



/* header */

.site-header {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.site-logo {
  padding-left: 24px;
  padding-top: 24px;
}

body.homepage .site-logo {
  padding-bottom: 24px;
}

body:not(.homepage) {
  .site-logo {
    @media (min-width: @sm-bp) {
      width: 221px;
    }
  }
}

.site-navigation {
  @media (min-width: @sm-bp) {
    height: 100%;
  }
  .site-navigation-list {
    display: flex;
    list-style: none;
    @media (min-width: @sm-bp) {
      height: 100%;
    }
    .site-navigation-item {
      display: flex;
      align-items: flex-end;
      height: 100%;
      @media (min-width: @sm-bp) {
        padding: 30px;
      }
      a {
        color: @night;
        transition: .3s ease all;
        display: inline-block;
        @media (min-width: @sm-bp) {
          height: 4em;
          width: 4em;
          line-height: 4em;
          -moz-border-radius: 30px;
          border-radius: 2em;
          border: 1px solid transparent;
          transition: .3s ease border-color;
        }
        text-align: center;
      }
    }
    .site-navigation-item.active-link,
    .site-navigation-item:hover {
      a {
        @media (min-width: @sm-bp) {
          border: 1px solid @night;
          font-style: normal;
        }
      }
    }
  }
}

/* mobile menu */
.mobile-menu-item {
  @media (min-width: @sm-bp) {
    display: none;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: @sm-bp) {
  .site-header {
    .site-logo {
      position: relative;
      flex: 100%;
      z-index: 106;
    }
    .mobile-menu-toggle {
      position: relative;
      z-index: 109;
      margin: 24px;
      flex: 60px;
      text-align: right;
      &:hover {
        cursor: pointer;
      }
      img {
        width: 24px;
      }
    }

    .site-navigation-wrapper {
      width: 100%;
    }
    &.site-header-open {
      height: 100vh;
      background: @clay;
      .site-logo,
      .mobile-menu-toggle {
        position: fixed;
      }

      .site-logo {
        width: 45%;
        left: 0;
      }

      .mobile-menu-toggle {
        right: 0px;
        top: 0px;
      }

    }
    .social-nav {
      position: fixed;
      z-index: 106;
      width: 100%;
    }

    .social-nav {
      bottom: 10px;
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        li {
          padding: 0 10px;
          img {
            max-width: 20px;
          }
        }
      }
    }
    .client-portal-button {
      margin-top: 15px;
      text-align: center;
    }
    .site-navigation {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 105;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .site-navigation-list {
        flex-direction: column;
        justify-content: center;
        .site-navigation-item {
          display: flex;
          align-items: center;
          height: unset;
          justify-content: center;
          padding: 15px 0;
          a {
            .freightNeoPro;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 77px;
          }
        }
      }
    }
  }
}

@media (max-width: @sm-bp) {
  .site-header .site-navigation-wrapper {
    transform: ~"translateY(-100vh)";
  }
  .site-header.site-header-open .site-navigation-wrapper {
    animation: slideDown .45s ease-out forwards;
  }
}

/* footer */

.site-footer {
  z-index: 99;
  position: relative;
  width: 100%;
  background: @cream;


  display: grid;
  grid-template-columns: min-content 1fr max-content;
  grid-template-rows: min-content min-content;
  border-top: 1px solid @night;
  align-items: end;
  > * {
    display: block;
  }
  .footer-social,
  .footer-nav,
  .footer-cta {
    padding-top: 45px;
  }
  .footer-social {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 24px;
    * {
      color: @night;
    }
    h3 {
      .h3;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.1em;
      text-align: left;
    }
    p {
      .freightNeoPro;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;     
      margin-top: 5px;
    }
  }
  .footer-nav {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    place-self: center;
    ul {
      list-style: none;
      display: flex;
      > * {
        padding: 25px;
        padding-bottom: 0;
      }
    }
    * {
      .freightNeoPro;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      color: @night;
    }
  }
  .footer-cta {
    padding-left: 42px;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: @night;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 24px;
    * {
      color: @cream;
    }
    h3 {
      .h3;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.1em;
      text-align: left;
    }
    
    p {
      margin-top: 5px;
      background: transparent;
      text-align: left;  
      .freightNeoPro;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
    }
  }
  .footer-icon,
  .footer-copyright {
    padding-top: 12px;
    padding-bottom: 24px;
  }
  .footer-icon {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background: @night;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    width: 100%;
    height: 100%;
    .icon {
      width: 20px;
    }
  }
  .footer-copyright {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 24px;
    * {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: @night;
    }
  }
}

/* mobile footer */

@media (max-width: @sm-bp) {
  .site-footer {
    grid-template-columns: .4fr .6fr;
    grid-auto-rows: auto;
    .footer-social {
      grid-column: ~"2 / 3";
      grid-row: ~"2 / 3";
      place-self: start;
      .text-wrapper {
        padding-top: 25px;
      }
    }
    .footer-nav {
      width: 100%;
      grid-column: ~"1 / 2";
      grid-row: ~"2 / 3";
      margin-bottom: 42px;
      ul {
        flex-direction: column;
      }
    }
    .footer-cta {
      grid-column: ~"1 / 3";
      grid-row: ~"1 / 2";
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 42px;
    }
    .footer-icon {
      display: block;
      background: transparent;
      grid-column: ~"1 / 3";
      grid-row: ~"1 / 2";
      place-self: end;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: flex-end;
    }
    .footer-copyright {
      grid-column: ~"1 / 3";
      grid-row: ~"3 / 4";
    }
  }
}

/* ABOUT */

/* offerings */

body.offerings {
  [class*=sqs-col] .sqs-block {
    padding: 0;
  }
  main > div > .sqs-row {
    display: flex;
    flex-direction: row;
    @media (max-width: @sm-bp) {
      flex-direction: column;
      .sqs-block:last-child {
        padding: 0 !important;
      }
    }
    .sqs-col-6 {
      width: 100%;
    }
    [class*="sqs-col"] {
      float: none;
    }
    > * {
      flex: 50%;
    }

    .sqs-block-image {
      padding-bottom: 0 !important;
    }
    .sqs-block-image .caption-wrapper-link {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .image-caption-wrapper {
        background: rgba(16, 16, 16, 0.3);
        transition: .6s ease-out all;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .image-caption-wrapper p {
      .freightNeoPro;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 52px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  // hover fx
  main > div > .sqs-row:hover {
    .sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .image-caption-wrapper {
      background: rgba(16, 16, 16, 0.8);
    }
    .sqs-block-image .image-block-outer-wrapper.layout-caption-overlay .image-caption-wrapper:hover {
      background: rgba(16, 16, 16, 0.3);
    }
  }
}


/* contact page */

body.contact {
  background: @clay;
  .site-header {
    background: @clay;
  }

  main {
    margin-top: 60px;
  }

  main .sqs-layout > .sqs-row:first-child {
    padding-bottom: 100px;
    > .col {
      @media (min-width: @sm-bp) {
        width: 50% !important;
      }
    }

    // contact form
    > .col:last-child {
      padding-left: 60px;
      padding-right: 60px;
      @media (max-width: @sm-bp) {
        margin-top: 30px;
      }
      .sqs-block-html {
        margin-bottom: 30px;
      }

      .form-wrapper .field-list .field .field-element {
        background: transparent;
        transition: .3s ease all;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid @night;
      }
      .form-wrapper .field-list .field .field-element:focus-visible {
        background: @blush;
        outline: 0;
      }
      .form-wrapper .field-list .field select {
        border: 0;
      padding: 10px;
      background: @blush;
      }
    }

    sqs-block-content
    // grid images
    .sqs-block-image .image-block-outer-wrapper:not(.image-block-v2) .intrinsic {
      margin: unset !important;
      max-width: 100% !important;
    }
    .col:first-child {
      display: grid;
      grid-template-columns: .35fr .25fr .15fr .25fr;
      grid-column-gap: 20px;
      grid-template-rows: 100px min-content min-content;

      .sqs-block-image:first-child {
        padding-right: 30px;
        padding-top: 0;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      .sqs-block-image:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 30px;
      }
      .sqs-block-image:last-child {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 75%;
      }
    }
  } 
  main .sqs-layout > .sqs-row:last-child {
    background: @cream;
    padding-top: 100px;
  }
}

// the edit

body.the-edit {
  main {
    .basicSiteContainer;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    @media (max-width: @sm-bp) {
      display: flex;
      flex-direction: column;
    }
    .page-title {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      h2 {
        padding-top: 26px;
        text-align: right;
        .freightNeoProItal;
        font-style: italic;
        font-weight: 500;
        font-size: 100px;
        line-height: 52px;
      }
    }
    .page-description {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;

    }

    article {
      grid-row: span 1;
    }
    article:nth-child(even) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    article:nth-child(odd) {
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }

  article {
    .sqs-row {
      margin: 0;
    }
    display: flex;
    flex-direction: column;
    .main-image {
      display: block;
      flex: 1;
      width: 100%;
      position: relative;
      img {
        max-width: 100%;
        width: 100% !important;
        min-height: 100%;
        object-fit: cover;
        height: auto !important;
        position: relative !important;
        top: unset !important;
        left: unset !important;
      }
      .image-border {
        border: 2px solid @marigold;
        padding: 12px;
        display: block;
        opacity: 0;
        transition: .3s ease all;
        width: 88%;
        height: 88%;
        top: 6%;
        left: 6%;
        position: absolute;
        z-index: 9;
      }
    }
    .main-image:hover {
      .image-border {
        opacity: 1;
      }
    }
    p.meta {
      margin-top: 17px;
      margin-bottom: 0;
      * {
        color: @night;
      }
      .category {
        .freightNeoProItal;
        font-style: italic;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
      }
      .date {
        .freightNeoPro;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 22px;
        letter-spacing: 0.15em;
      }
    }
  }
  h3.title {
    margin-top: 17px;
    .h3;  
    a {
      color: @night;
    }
  }
}

// the edit individual item
body.the-edit .blog-item-image {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
}
body.the-edit  .blog-item {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 4;
  article,
  .blog-item-pagination {
    max-width: 65ch;
    margin: 0 auto;
  }
  article {
    a {
      color: @night;
    }
    h1 {
      margin: 0;
    }
    p.meta {
      .freightNeoPro;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.15em;
      text-align: left;
      margin-bottom: 45px;
    }
    .category {
      display: inline-block;
      margin-bottom: 10px;
      padding-right: 10px;
      .freightNeoPro;
      font-size: 15px;
      font-style: italic;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.15em;
      text-align: left;
      text-transform: uppercase;
    }
  }
}

// press
body.press {
  main {
    .basicSiteContainer;


    .sqs-gallery-design-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  main h2 {
    .h3;
  }
}

// commercial

body.commercial {
  main > div.sqs-layout > .sqs-row {
    width: 100% !important;
    margin: 0;  
  }
  main > div.sqs-layout > .sqs-row > div {
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 540px 540px .5fr;
    @media (max-width: 1080px) {
      grid-template-columns: .05fr .45fr .45fr .05fr;
    }
    grid-auto-flow: dense;
    > * {
      grid-column: ~"1 / 5";
      width: 100%;
      max-width: 100%;
    }

    .hero,
    .hero-overlay {
      grid-row: ~"1 / 2";
    }

    @media (max-width: @sm-bp) {
      .hero {
        &.sqs-block:first-child {
          padding-top: 0 !important;
        }

        .image-block-outer-wrapper:not(.image-block-v2) .image-block-wrapper {
          padding-bottom: 60% !important;
          padding-bottom: 80vh !important;
          img {
            min-height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .hero-overlay {
      background: rgba(0, 0, 0, .25);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      * {
        color: @cream;
      }
      h2 {
        .freightNeoPro;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 58px;
        letter-spacing: 0em;
        em {
          .freightNeoProItal;
          font-style: italic;
        }
      }
      h3 {
        .h3;
      }
    }
    
    .intro-text, .accordion-wrapper, .commercial-gallery {
      margin-top: 15px;
      @media (min-width: @sm-bp) {
        margin-top: 100px;
      }
    }
    .intro-text {
      @media (min-width: @sm-bp) {
        grid-column: ~"2 / 3";
        padding-right: 80px;
      }
      @media (max-width: @sm-bp) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        .p;
        margin-top: 10px;
      }
    }

    .accordion-wrapper {
      @media (min-width: @sm-bp) {
        grid-column: ~"3 / 4";
      }
      padding-top: 15px;
    }

  .cta-button {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button a {
      transition: .3s ease-out all;
    }
    button a:hover {
      background: @cream;
      color: @night;
    }
  }

  .commercial-gallery {
    .summary-thumbnail-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      > * {
        grid-column: ~"1 / 2";
        grid-row: ~"1 / 2";
      }
      .thumbnail-description {
        z-index: 9;
        position: relative;
        background: rgba(189, 100, 92, .9);
        height: 100%;
        width: 100%;
        padding: 17px;
        opacity: 0;
        transition: .5s ease-out all;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        * {
          color: @night;
        }
      }

      &:hover {
        .thumbnail-description {
          opacity: 1;
        }
      }
    }
  }
}
}

button:not(.flat) {
  background: @night;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding: 15px 30px;
    color: @cream;
    .h3;
    display: block;
  }  
}
button.flat {
  background: transparent;
  .h3;
  a {
    color: @night;
  }
}
.accordion {
  .accordion-headline {
    display: flex;
    justify-content: space-between;
  }
  .accordion-headline:after {
    padding-right: 10px;
    .freightSans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15em;
    text-align: left;
  }
  .accordion-headline:hover {
    cursor: pointer;
  }

  .accordion-item.closed {
    .accordion-headline:after {
      content: '+';
    }
    .accordion-content {
      display: none;
    }
  }

  .accordion-item.open {
    .accordion-headline:after {
      content: '-';
    }
    .accordion-content {
      display: block;
    }
  }

  .accordion-item {
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: 10px;
  }
  .accordion-content {
    margin-top: 10px;
  }
  h3 {
    .freightNeoPro;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
  }
}

body.personal {
 .hero {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      > * {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .image-wrapper {
        img {
          min-height: 100%;
          height: 100%;
          min-width: 100%;
          object-fit: cover;
        }
      }
      .text-wrapper {
        background: rgba(0, 0, 0, .25);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        * {
          color: @cream;
        }
        h1 {
          .freightNeoPro;
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: 58px;
          letter-spacing: 0em;
          em {
            .freightNeoProItal;
            font-style: italic;
          }
        }
        p {
          max-width: 400px;
          max-width: 50ch;
          margin: 0 auto;
          text-align: center;
        }
      }
    }


    @media (max-width: @sm-bp) {
    .hero {
        height: 60% !important;
        height: 80vh !important;
        .image-wrapper {
          min-height: 100%;
          width: 100%;
        }
        img {
          min-height: 100%;
          object-fit: cover;
        }
      }
    }
    

    .personal-offerings-grid {
      display: grid;
      grid-template-columns: .33fr .11fr .55fr .11fr;
      grid-template-rows: minmax(450px, max-content) auto;
      @media (max-width: @sm-bp) {
        display: flex;
        flex-direction: column;
        > * {
          margin-bottom: 70px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .basicSiteContainer;
      .intro-image-wrapper {
        grid-column: ~"1 / 2";
        grid-row: ~"1 / 3";
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        > * {
          grid-column: ~"1 / 2";
          grid-row: ~"1 / 2";
        }
        img {
          width: 90%;
          margin-left: 10%;
        }
        .clay-bg {
          width: 90%;
          height: 100%;
          margin-top: 10%;
          background: @clay;
        }
      }
      .intro-text-wrapper {
        grid-column: ~"3/ 4";
        grid-row: ~"1 / 2";
        h2 {
          .h3;
        }
        p {
          margin-top: 30px;
        }
        .accordion {
          margin-top: 30px;
        }
      } 
      .phases-wrapper {
        grid-column: ~"1 / 5";
        grid-row: ~"2 / 3";
        margin-top: 100px;
        
        .phase-item {
          display: grid;
          grid-template-columns: .33fr .45fr .22fr;
          grid-template-rows: max-content max-content;

          @media (max-width: @sm-bp) {
            display: flex;
            flex-direction: column;
            > * {
              margin-bottom: 30px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          width: 100%;
          .phase-headline {
            grid-column: ~"1 / 4";
            grid-row: ~"1 / 2";

            padding-top: 20%;
            @media (min-width: @sm-bp) {
              padding-left: 11%;
            }
            padding-bottom: 10px;
            h3 {
              .h1;
            }
          }
          .phase-text {
            grid-column: ~"2 / 3";
            grid-row: ~"2 / 3";

            @media (min-width: @sm-bp) {
              padding: 0 20px;            
            }
          }
          .phase-image {
            grid-column: ~"3 / 4";
            grid-row: ~"2 / 3";
          }
        }
      }
    }

    .cta-banner {
      @media (max-width: @sm-bp) {
        margin-top: 100px;
      }
      width: 100%;
      height: 400px;
      background: @blush;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100;
      .cta-headline {
        * {
          .h1;
        }
      }
      .cta-button {
        margin-top: 30px;
      }
    }

    .ala-carte-wrapper {
      max-width: 800px;
      margin: 0 auto;
      @media (max-width: 800px) {
        max-width: 90%;
      }
      margin-top: 100px;

      .ala-carte-headline {
        h3 {
          .h3;
          padding-right: 10px;
        }
      }

      .accordion {
        h4 {
          .h1;
          letter-spacing: 0;
          text-transform: none;
          color: @clay;
        }
      }
    }

    .testimonial-wrapper {
      display: flex;
      align-items: center;
      @media (max-width: @sm-bp) {
        flex-direction: column-reverse;
      }
      .basicSiteContainer;
      .image-wrapper {
        flex: 40%;
      }
      .text-wrapper {
        flex: 60%;
        @media (max-width: @sm-bp) {
          margin: 30px 0;
        }
        blockquote {
          .freightSans;
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 42px;
          letter-spacing: 0em;
          text-align: left;
        }
        figcaption {
          .freightSans;
          display: inline;
          font-size: 15px;
          font-style: italic;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.15em;
          text-align: left;
          text-transform: uppercase;
        }
      }
    }

    .cta-button-wrapper {
      .basicSiteContainer;
      margin-bottom: 100px;
      @media (max-width: @sm-bp) {
        margin-top: 30px;
      }
      display: flex;
      justify-content: center;
    }
}

body.about {
  background: @blush;
  .site-header {
    background: @blush;
  }

  main {
    max-width: 960px;
    margin: 100px auto;
  }
  main > .sqs-layout > .sqs-row {
    margin: 0;

  }
  main > .sqs-layout > .sqs-row > .col {
    display: grid;
    grid-template-columns: ~".25fr .125fr .125fr .125fr .375fr";
    grid-auto-rows: minmax(100px, max-content);

    @media (max-width: @sm-bp) {
      display: flex;
      flex-direction: column;
      width: 90% !important;
      margin-left: auto;
      margin-right: auto;
      > * {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .about-headline {
      grid-column: ~"1 / 5";
      grid-row: ~"1 / 2";
    }
    .about-image {
      grid-column: ~"1 / 3";
      grid-row: ~"2 / 4";
    }
    .about-text, 
    .about-button {
      @media (min-width: @sm-bp) {
        padding-left: 30px;
      }
    }
    .about-text {
      grid-column: ~"4 / 6";
      grid-row: ~"3 / 6";
      p em {
        .freightSansItal;
        font-size: 15px;
        font-style: italic;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15em;
        text-align: left;
        text-transform: uppercase;
      }
    }
    .about-button {
      grid-column: ~"4 / 6";
      grid-row: ~"6 / 7";
      margin-top: 100px;
      .sqs-block-button-container--center {
        text-align: left;
      }
      .sqs-block-button-element {
        padding: 0;
        .freightSans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-align: left;
        text-transform: uppercase;
        opacity: 1 !important;
        color: @night;
        background: transparent;
        display: flex;
        align-items: center;
        &:after {
          content: '';
          background: url('/assets/icons/arrowDark.png') center center no-repeat scroll;
          width: 20px;
          height: 20px;
          margin-left: 11px;
          display: inline-block;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: contain;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .about-quote {
      grid-column: ~"2 / 4";
      grid-row: ~"5 / 6";

      background: @cream;
      padding: 20px;
      * {
        .freightSans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.15em;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }
}


body.clients {
  background: @clay;
  .site-header {
    background: @clay;
  }
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 150px;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .button {
        max-width: 50ch;
        margin: 0 auto;
        margin-top: 30px;
      }
    }
  }
}

// 

.animated-slider-container-wrapper {
  .animated-slider-container {
    position: absolute;
    p {
      margin-top: 0;
      position: absolute;
      top: 0;
      display: block;
      white-space: nowrap !important;
      text-align: right;
    }
  }
}


img.loaded {
  opacity: 1;
  transition: 0.3s ease all;
}

.accordion-headline {
  z-index: 15;
  background: #fff;
  position: relative;
}
.accordion-content {
  position: relative;
  z-index: 9;
}

@keyframes fadeIntroOut {
  from {
    opacity: 1;
    z-index: 999;
  }
  to {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes slideLogoUp {
  from {
    background-position-y: 100%;
  }
  to {
    background-position-y: 0%;
  }
}

@keyframes slideLogoDown {
  from {
    background-position-y: 0%;
  }
  to {
    background-position-y: 100%;
  }
}


@introDuration: 1.3s;
@fadeoutDelay: 1.6s;
@fadeoutDuration: .5s;


.intro-animation-active {
  position: fixed;
  height: 100%;
  width: 100%;

  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
  padding: 3vh;

  animation: fadeIntroOut @fadeoutDuration @fadeoutDelay forwards;

  &:before,
  &:after {
    content: ' ';
    width: 100%;
    height: 49%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:before {
    background-image: url("/assets/logo-animation/melissa.png");

    background-position-x: 50%;
    background-position-y: 100%;
    animation: slideLogoDown @introDuration ease-in forwards;
  }
  &:after {
    background-image: url("/assets/logo-animation/deleon.png");

    background-position-x: 50%;
    background-position-y: 0%;

    animation: slideLogoUp @introDuration ease-in forwards;
  }
}
